.App {
    font-family: sans-serif;
    text-align: center;
  }
  .vertical-timeline::before {
    /* this is the vertical line */
    background: black !important;
  }
  
  .empty {
    height: 600px;
    border: 1px solid red;
  }
  